.productContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
.productImg{
    width: 100px;
    border-radius: 10px;
}
.btn{
    color: whitesmoke;
}
.maximumNotice {
    font-size: 12px;
    margin-bottom: 7px;
  }