.categoryContainer{
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
    align-items: center;
}
.categoryImg{
    width: 120px;
    border-radius: 50%;
}

.categoryContainer p {
    color: black;
    text-decoration: underline;
    display: flex;
    justify-content: center;
}